* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-gradient);
    color: var(--color-text);
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

.section {
    padding: 100px 40px;
    text-align: center;
}

#particles-js {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.section_title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
}

.section_subtitle {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-secundary-text);
    letter-spacing: 0.3px;
}

#themeSelector {
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

#particles-js canvas {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3))
            drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}