    <section id="sobre_mim" class="about_section">
        <h2 class="section_title">Quem sou <span>eu?</span></h2>
        
        <div class="about_container">
            <div class="about_image">
                <img src="assets/images/png/hero/foto-perfil.jpeg" alt="Foto Profissional">
            </div>

            <div class="about_content">
                <h3>Profissionalmente</h3>

                <div class="personal-item">
                    <p id="profissional-txt"></p>
                </div>

            </div>

        </div>

        <div class="about_container reverse">

            <div class="about_content">
                <h3>Para além do código</h3>
                <div class="personal-description">

                    <div class="personal-item">
                        <h4>Esporte & Estratégia</h4>
                        <p>
                            O basquete faz parte da minha rotina. Gosto tanto da adrenalina de jogar
                            quanto do lado analítico, destrinchando táticas e jogadas.
                        </p>
                    </div>

                    <div class="personal-item">
                        <h4>Criatividade & Expressão</h4>
                        <p>
                            A arte corre em paralelo com a programação. Dedico meu tempo livre à escrita,
                            criando narrativas, e à música, onde me divirto mixando batidas e sempre
                            procurando a música do momento.
                        </p>
                    </div>

                    <div class="personal-item">
                        <h4>Fé & Valores</h4>
                        <p>
                            Sou católico, e minha espiritualidade é a base que guia minha ética,
                            caráter e visão de mundo.
                        </p>
                    </div>

                    <div class="personal-item">
                        <h4>Cultura Pop & Ficção</h4>
                        <p>
                            Sou fascinado por boas histórias. Consumo muito conteúdo de ficção científica,
                            seja jogando um bom videogame ou acompanhando séries marcantes.
                        </p>
                    </div>

                </div>
            </div>

            <div class="about_image">
                <img src="assets/images/png/hero/JulyoDuke.png" class="personal-photo" alt="Foto Pessoal">
            </div>

        </div>

    </section>
