    <section id="analises" class="section">
        <h2 class="section_title">Análises</h2>
        <div class="analises_cards">

            <div class="analises_card">
                <h3>Tecnologias mais utilizadas</h3>
                <div class="chart-container">
                    <canvas id="techChart"></canvas>
                </div>
            </div>

            <div class="analises_card">
                <h3>Distribuição dos projetos</h3>
                <div class="chart-container">
                    <canvas id="categoryChart"></canvas>
                </div>
            </div>

            <div class="analises_card">
                <h3>Evolução dos projetos</h3>
                <div class="chart-container">
                    <canvas id="evolutionChart"></canvas>
                </div>
            </div>

            <div class="analises_card">
                <h3>Problemas resolvidos</h3>
                <div class="chart-container">
                    <canvas id="problemChart"></canvas>
                </div>
            </div>

        </div>
    </section>
