    <section id="contato" class="section">
        <h2 class="section_title">Contato</h2>
        <div class="contato">
            <div class="contact_card">
                <h3>Vamos conversar?</h3>
                <p>Estou aberto a oportunidades e colaborações. Sinta-se à vontade para entrar em contato comigo para
                    discutir projetos, parcerias ou qualquer outra coisa relacionada ao desenvolvimento de software e
                    análise de dados.</p>
                <p><i class="fa-solid fa-envelope"></i> <strong>Email:</strong> julio.guimaraes2020@outlook.com</p>
                <p><i class="fa-brands fa-linkedin"></i> <strong>LinkedIn:</strong> <a
                        href="#">linkedin.com/in/j-guimaraes</a></p>
                <p><i class="fa-brands fa-github"></i> <strong>GitHub:</strong> <a href="#">github.com/Jullyoo</a></p>
            </div>
        </div>
    </section>
