    <section id="experiencias" class="section">
        <h2 class="section_title">Experiências</h2>
        <div class="experiencias_profissionais">
            <div class="experiencia_card">
                <h3>Estagiário de Suporte Técnico - SETIDE Osasco. <span>Mar/2026 – Atualmente. </span></h3>
                <p class="load-text" data-file="assets/texts/setide.txt"></p>
                <hr class="exp_divider">
                <h3>Analista de Operações - Grupo NewSpace LTDA. <span>Dez/2023 – Set/2025.</span></h3>
                <p class="load-text" data-file="assets/texts/newspace.txt"></p>
                <hr class="exp_divider">
                <h3>Jovem Aprendiz Financeiro - GSS Segurança. <span>Mar/2022 – Jun/2023</span></h3>
                <p class="load-text" data-file="assets/texts/gss.txt"></p>
            </div>
        </div>
    </section>
