<header id="header">
        <div class="logo">
            <img id="logoImg" src="assets/images/png/hero/Julyo_dev_logo_azul.png" alt="logo-img" class="logo_img">
            <p class="logo_text">Julyo.dev</p>
        </div>

        <nav class="nav_menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#sobre_mim">Sobre</a></li>
                <li><a href="#experiencias">Experiências</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#tecnologias">Tecnologias</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#analises">Análises</a></li>
                <li><a href="#testemunhos">Testemunhos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
        <div class="theme">
            <select id="themeSelector">
                <option value="dark-mode">🌙 Escuro (Azul)</option>
                <option value="light-mode">☀️ Claro (Azul)</option>
                <option value="red-mode">🔴 Vermelho</option>
                <option value="green-mode">🟢 Verde</option>
                <option value="purple-mode">🟣 Roxo</option>
                <option value="contrast-mode">⚫ Alto Contraste</option>
            </select>
        </div>

        <div class="menu_toggle">☰</div>

    </header>