    <div class="modal" id="serviceModal">
        <div class="modal_content">
            <span class="close_modal">&times;</span>

            <div class="modal_header">
                <h2 id="serviceModalTitle"></h2>
            </div>

            <div class="modal_body">
                <div class="modal_section" data-kind="experience">
                    <h3 class="modal_section_title"><i class="fa-solid fa-file-lines"></i> Sobre o serviço</h3>
                    <p id="serviceModalDescription" class="modal_text"></p>
                </div>

                <div class="modal_section" data-kind="projects">
                    <h3 class="modal_section_title"><i class="fa-solid fa-layer-group"></i> Tecnologias utilizadas</h3>
                    <div class="modal_tags" id="serviceModalTech"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="techModal">
        <div class="modal_content">
            <span class="close_modal">&times;</span>

            <div class="modal_header">
                <h2 id="techModalTitle"></h2>
            </div>

            <div class="modal_body">
                <div class="modal_section" data-kind="courses">
                    <h3 class="modal_section_title"><i class="fa-solid fa-graduation-cap"></i> Cursos</h3>
                    <ul class="modal_list" id="techModalCourses"></ul>
                </div>

                <div class="modal_section" data-kind="experience">
                    <h3 class="modal_section_title"><i class="fa-solid fa-briefcase"></i> Vivências</h3>
                    <ul class="modal_list" id="techModalExperience"></ul>
                </div>

                <div class="modal_section" data-kind="projects">
                    <h3 class="modal_section_title"><i class="fa-solid fa-layer-group"></i> Projetos</h3>
                    <div class="modal_tags" id="techModalProjects"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="projectModal">
        <div class="modal_content">
            <span class="close_modal">&times;</span>

            <div class="modal_header">
                <h2 id="projectModalTitle"></h2>
            </div>

            <div class="modal_body">
                <div class="modal_section" data-kind="experience">
                    <h3 class="modal_section_title"><i class="fa-solid fa-file-lines"></i> Sobre o projeto</h3>
                    <p id="projectModalDescription" class="modal_text"></p>
                </div>

                <div class="modal_section" data-kind="projects">
                    <h3 class="modal_section_title"><i class="fa-solid fa-layer-group"></i> Tecnologias</h3>
                    <div class="modal_tags" id="projectModalTech"></div>
                </div>
            </div>

            <div class="modal_footer">
                <a id="projectModalLink" href="#" target="_blank" class="modal_btn">Ver Projeto <i
                        class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
    </div>
