<section id="projetos" class="section">
        <h2 class="section_title">Projetos</h2>

        <div class="project_category">
            <h3 class="section_subtitle">Analises de Dados</h3>

            <div class="project_cards">

                <div class="project_card" data-title="BitCoin Analytics"
                    data-description="Projeto de análise de dados com base em dados históricos do Bitcoin, utilizando Python para explorar tendências, padrões e insights relevantes sobre o mercado de criptomoedas."
                    data-tech="Python | HTML | CSS | JavaScript" data-link="">

                    <img src="assets/images/png/em_desenvolvimento.png" alt="BitCoin Analytics" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">BitCoin Analytics</h3>
                </div>

                <div class="project_card" data-title="Superstore Analytics"
                    data-description="Desafio de análise de dados baseado em um conjunto de dados fictício de uma loja de varejo, com o objetivo de extrair insights e informações relevantes para a tomada de decisões estratégicas. Utilizando somente Excel"
                    data-tech="Python | Excel" data-link="https://github.com/Jullyoo/Superstore-Analytics">

                    <img src="assets/images/png/superstore.PNG" alt="Superstore Analytics" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Superstore Analytics</h3>
                </div>

                <div class="project_card" data-title="Semana do Excel"
                    data-description="Projeto baseado na semana do Excel da HashTag treinamentos"
                    data-tech="Python | Excel" data-link="https://github.com/Jullyoo/semana-do-excel">

                    <img src="assets/images/png/semana_do_excel.PNG" alt="Semana do Excel" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Semana do Excel</h3>
                </div>

                <div class="project_card" data-title="NBA Draft Analytics"
                    data-description="Analises técnicas e esportivas sobre os Drafts da NBA dos anos 2015-2025 e sobre os prospectos do ano de 2026."
                    data-tech="Python | Power BI | NBA API | Pandas" data-link="https://github.com/Jullyoo/NBA-Analytics">

                    <img src="assets/images/png/nba_analytics.PNG" alt="NBA Analytics" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">NBA Draft Analytics</h3>
                </div>

                <div class="project_card" data-title="Dashboard Bitcoin"
                    data-description="Dashboard interativo com dados da API CoinGecko e análises complementares."
                    data-tech="Power BI | Power Automate | Python | API"
                    data-link="https://github.com/Jullyoo/Dashboard-BitCoin">

                    <img src="assets/images/png/Dashboard-BitCoin.PNG" alt="Bitcoin" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Dashboard BitCoin</h3>
                </div>

                <div class="project_card" data-title="Dashboard E-commerce"
                    data-description="Este projeto realiza uma análise exploratória dos dados públicos da Olist, um marketplace brasileiro, com foco em comportamento de compra, desempenho de vendas, logística de entrega e principais métricas de negócio."
                    data-tech="Power BI | Power Query | Python | API"
                    data-link="https://github.com/Jullyoo/Dashboard-Ecommerce">

                    <img src="assets/images/png/Dashboard-Ecommerce.PNG" alt="Dashboard E-commerce" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Dashboard E-commerce</h3>
                </div>

                <div class="project_card" data-title="Dashboard Vendas"
                    data-description="Este projeto simula uma base de dados de Vendas de Componentes de computador com o objetivo de criar dashboards interativos e extrair insights relevantes utilizando o Power BI."
                    data-tech="Power BI | Power Query | Python" data-link="https://github.com/Jullyoo/Dashboard-Vendas">

                    <img src="assets/images/png/Dashboard-vendas.PNG" alt="Dashboard Vendas" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Dashboard Vendas</h3>
                </div>

                <div class="project_card" data-title="Dashboard Recursos Humanos"
                    data-description="Este projeto simula uma base de dados de Recursos Humanos com o objetivo de criar dashboards interativos e extrair insights relevantes utilizando o Power BI. A base de dados inclui informações sobre funcionários, departamentos, salários, avaliações de desempenho e outras métricas relacionadas à gestão de recursos humanos. O projeto visa demonstrar habilidades em análise de dados, visualização e storytelling utilizando o Power BI para fornecer insights valiosos sobre a força de trabalho e auxiliar na tomada de decisões estratégicas."
                    data-tech="Power BI | Power Query | Python" data-link="https://github.com/Jullyoo/Dashboard-RH">

                    <img src="assets/images/png/Dashboard-rh.PNG" alt="Dashboard Recursos Humanos" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Dashboard Recursos Humanos</h3>
                </div>

                <div class="project_card" data-title="Dashboard Brasileirão"
                    data-description="Dashboard em Power BI apresentando dados sobre o campeonato brasileiro de 2024, Projeto realizado com base em uma proposta de faculdade."
                    data-tech="Power BI | Power Query | Python" data-link="https://github.com/Jullyoo/Dashboard-BitCoin">

                    <img src="assets/images/png/Dashboard-brasileirão.PNG" alt="Dashboard Brasileirão"
                        class="project_card_img" loading="lazy">
                    <h3 class="project_card_tooltip">Dashboard Brasileirão</h3>
                </div>

            </div>
        </div>

        <div class="project_category">
            <h3 class="section_subtitle">FrontEnd</h3>

            <div class="project_cards">

                <div class="project_card" data-title="Por que ser católico?"
                    data-description="Um projeto escolar com base na disciplina de Desenvolvimento Web com o objetivo de criar uma página web interativa utilizando um framework do JavaScript."
                    data-tech="HTML | CSS | JavaScript | React" data-link="https://github.com/Jullyoo/WhyBeCatholic">

                    <img src="assets/images/png/Catholic.PNG" alt="Catholic" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Por que ser Católico?</h3>
                </div>

                <div class="project_card" data-title="NBA Draft Analytics Pro"
                    data-description="Dashboard em React com análises técnicas e esportivas, comparando os prospectos do Draft de 2026 com os jogadores selecionados nos Drafts da NBA dos anos 2015-2025."
                    data-tech="Python | Pandas | NBA API | React | Chart.js | CSS" data-link="https://github.com/Jullyoo/NBA-Analytics-Pro">

                    <img src="assets/images/png/nba_analytics_pro.PNG" alt="NBA Analytics Pro" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">NBA Draft Analytics Pro</h3>
                </div>

                <div class="project_card" data-title="Aureon Finance"
                    data-description="Uma plataforma moderna de análise financeira pessoal que transforma extratos bancários em insights inteligentes."
                    data-tech="HTML | CSS | JavaScript" data-link="https://jullyoo.github.io/Aureon-Finance/">

                    <img src="assets/images/png/Aureon_Finance.PNG" alt="Aureon Finance" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Aureon Finance</h3>
                </div>

                <div class="project_card" data-title="Santos e Signos"
                    data-description="Um projeto escolar com base na disciplina de Programação Web com o objetivo de criar uma página web interativa."
                    data-tech="HTML | CSS | JavaScript | PHP" data-link="https://github.com/Jullyoo/Signos-Santos">

                    <img src="assets/images/png/SantosSignos.PNG" alt="Santos e Signos" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Santos e Signos</h3>
                </div>

                <div class="project_card" data-title="Primeiro Portfólio"
                    data-description="Portfólio de Desenvolvimento de Software e DashBoards."
                    data-tech="HTML | CSS | JavaScript" data-link="https://jullyoo.github.io/Julio-Portfolio/">

                    <img src="assets/images/png/Projeto_Portifolio.PNG" alt="Primeiro Portfólio" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Primeiro Portfólio</h3>
                </div>

            </div>
        </div>

        <div class="project_category">
            <h3 class="section_subtitle">BackEnd</h3>

            <div class="project_cards">

                <div class="project_card" data-title="Julyo's Backpack"
                    data-description="Caixa de ferramentas com diversas funções para auxiliar um Analista de Dados em ativades de ETL."
                    data-tech="Python | Flask | Pandas | React | CSS" data-link="https://github.com/Jullyoo/Julyos-backpack">

                    <img src="assets/images/png/Julyos_bp.PNG" alt="Julyos Backpack" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Julyo's Backpack</h3>
                </div>

                <div class="project_card" data-title="Data Cleaner Studio"
                    data-description="Aplicação web para limpeza e pré-processamento de dados, permitindo aos usuários carregar conjuntos de dados, aplicar transformações e exportar os resultados para análise posterior."
                    data-tech="HTML | CSS | JavaScript | Python | Flask"
                    data-link="https://github.com/Jullyoo/DataCleanerStudio">

                    <img src="assets/images/png/DataCleanerStudio.PNG" alt="Data Cleaner Studio" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Data Cleaner Studio</h3>
                </div>

                <div class="project_card" data-title="Jullyo Capitale"
                    data-description="Calculadora de investimentos. Aplicação para simulação de investimentos com cálculo de juros compostos, IR e CDI, LCI, LCA, Tesouro Selic."
                    data-tech="HTML | CSS | JavaScript | Python | Flask" data-link="https://github.com/Jullyoo/Jullyo-Capitale">

                    <img src="assets/images/png/Jullyo_Capitale.PNG" alt="Jullyo-Capitale" class="project_card_img"
                        loading="lazy">
                    <h3 class="project_card_tooltip">Jullyo Capitale</h3>
                </div>

            </div>
        </div>

    </section>
