    <section id="tecnologias" class="section">
        <h2 class="section_title">Tecnologias</h2>
        <div class="tecnologias">

            <div class="tech_type_card">
                <h3><i class="fa-solid fa-server"></i> Backend</h3>
                <div class="tech_cards">

                    <div class="tech_card" data-title="Python"
                        data-courses="Udemy: Python 3+ Completo - Luiz Otávio Miranda | YouTube: Curso de Python - Gustavo Guanabara | Coursera: Google Data Analytics"
                        data-experience="Faculdade de Engenharia de Software | Desenvolvimento de projetos pessoais e acadêmicos | Processo Seletivo Analise de Dados"
                        data-projects="Jullyo Capitale | Julyo's backpack | Data Cleaner Studio | NBA Draft Analytics Pro | Dashboard Bitcoin | Dashboard Vendas | Dashboard Recursos Humanos | Dashboard E-commerce | Dashboard Brasileirão">
                        <h3>Python</h3>
                        <img src="assets/images/png/python.svg" alt="Python">

                    </div>

                    <div class="tech_card" data-title="Java"
                        data-courses="Udemy: Java Completo - Professor: Arnaldo Sousa"
                        data-experience="Faculdade de Engenharia de Software"
                        data-projects="Nenhum projeto específico, mas utilizo Java para estudos e prática de lógica de programação e POO.">
                        <h3>Java</h3>
                        <img src="assets/images/png/java.png" alt="Java">

                    </div>
                </div>
            </div>

            <div class="tech_type_card">
                <h3><i class="fa-solid fa-display"></i> Frontend</h3>
                <div class="tech_cards">

                    <div class="tech_card" data-title="HTML"
                        data-courses="Udemy: Programação Web Front-end Fundamentos: HTML, CSS, Lógica de programação e Javascript. - Professor: Daniel Tapias Morales"
                        data-experience="Faculdade de Engenharia de Software e Desenvolvimento de projetos pessoais e acadêmicos"
                        data-projects="Jullyo Capitale | Portfólio Pessoal | Aureon Finance | Data Cleaner Studio | Julyo's Backpack | NBA Draft Analytics Pro">
                        <h3>HTML</h3>
                        <img src="assets/images/png/html (1).png" alt="HTML">
                    </div>

                    <div class="tech_card" data-title="CSS"
                        data-courses="Udemy: Programação Web Front-end Fundamentos: HTML, CSS, Lógica de programação e Javascript. - Professor: Daniel Tapias Morales"
                        data-experience="Faculdade de Engenharia de Software e Desenvolvimento de projetos pessoais e acadêmicos"
                        data-projects="Jullyo Capitale | Portfólio Pessoal | Aureon Finance | Data Cleaner Studio | Julyo's Backpack | NBA Draft Analytics Pro">
                        <h3>CSS</h3>
                        <img src="assets/images/png/css-3 (1).png" alt="CSS">
                    </div>

                    <div class="tech_card" data-title="JavaScript"
                        data-courses="Udemy: Programação Web Front-end Fundamentos: HTML, CSS, Lógica de programação e Javascript. - Professor: Daniel Tapias Morales | Youtube: Curso de JavaScript - Professora: Rafaella Ballerini"
                        data-experience="Faculdade de Engenharia de Software e Desenvolvimento de projetos pessoais e acadêmicos"
                        data-projects="Jullyo Capitale | Portfólio Pessoal | Aureon Finance | Data Cleaner Studio | Julyo's Backpack | NBA Draft Analytics Pro">
                        <h3>JavaScript</h3>
                        <img src="assets/images/png/js (1).png" alt="JavaScript">
                    </div>

                    <div class="tech_card" data-title="Node.js"
                        data-courses="Youtube e aprendizdo autonomo: Node.js - Ambiente de execução JavaScript para desenvolvimento de aplicações web. | Youtube e aprendizdo autonomo: React - Biblioteca JavaScript para construção de interfaces de usuário."
                        data-experience="Faculdade de Engenharia de Software e Desenvolvimento de projetos pessoais e acadêmicos"
                        data-projects="Julyo's Backpack | Por que ser católico?">
                        <h3>Node.js</h3>
                        <img src="assets/images/png/nodejs.png" alt="Node.js">
                    </div>

                    <div class="tech_card" data-title="React"
                        data-courses="Youtube e aprendizdo autonomo: React - Biblioteca JavaScript para construção de interfaces de usuário."
                        data-experience="Faculdade de Engenharia de Software e Desenvolvimento de projetos pessoais e acadêmicos"
                        data-projects="Julyo's Backpack | Por que ser católico?">
                        <h3>React</h3>
                        <img src="assets/images/png/react.png" alt="React">
                    </div>

                    <div class="tech_card" data-title="Taildwind CSS"
                        data-courses="Youtube e aprendizdo autonomo: Taildwind CSS - Framework de CSS para construção de interfaces de usuário. | Youtube e aprendizdo autonomo: React - Biblioteca JavaScript para construção de interfaces de usuário."
                        data-experience="Faculdade de Engenharia de Software e Desenvolvimento de projetos pessoais e acadêmicos"
                        data-projects="Julyo's Backpack | Por que ser católico?">
                        <h3>Taildwind CSS</h3>
                        <img src="assets/images/png/tailwindcss.png" alt="Taildwind CSS">
                    </div>

                </div>
            </div>

            <div class="tech_type_card">
                <h3><i class="fa-solid fa-chart-line"></i> Analise de Dados</h3>
                <div class="tech_cards">

                    <div class="tech_card" data-title="Excel"
                        data-courses="Hashtag Treinamentos: Excel para Análise de Dados | Hashtag Treinamentos: Minicurso de Fórmulas Financeiras | Udemy: Curso de Excel Completo Basico ao Avançado - Professor: Nelio Alves. | Bradesco Cursos: Curso Completo de Pacote Office (Basico ao Avançado) | Coursera: Google Data Analytics"
                        data-experience="Projetos Pessoais | GSS Segurança | Grupo NewSpace LTDA"
                        data-projects="NBA Analytics | Semana do Excel Hashtag Treinamentos">
                        <h3>Excel</h3>
                        <img src="assets/images/png/excel.png" alt="Excel">
                    </div>

                    <div class="tech_card" data-title="Power BI"
                        data-courses="Udemy: Curso de Power BI + SQLServer - Professor: Danilo Maciel."
                        data-experience="Projetos Pessoais"
                        data-projects="Dashboard Brasileirão | Dashboard Bitcoin | Dashboard Vendas | Dashboard Recursos Humanos | Dashboard E-commerce | NBA Draft Analytics">
                        <h3>Power BI</h3>
                        <img src="assets/images/png/Power_BI.png" alt="Power-BI">
                    </div>

                    <div class="tech_card" data-title="SQLServer"
                        data-courses="Udemy: Curso de Power BI + SQLServer - Professor: Danilo Maciel. | Youtube: Curso de SQL - Professor: Jhonatan de Souza | Coursera: Google Data Analytics"
                        data-experience="Projetos Pessoais"
                        data-projects="Dashboard Brasileirão | Dashboard Bitcoin | Dashboard Vendas | Dashboard Recursos Humanos | Dashboard E-commerce">
                        <h3>SQLServer</h3>
                        <img src="assets/images/png/sql_server.png" alt="SQLServer">
                    </div>

                    <div class="tech_card" data-title="Pandas"
                        data-courses="Youtube: Curso de Python para Análise de Dados - Pandas, Matplotlib, Seaborn."
                        data-experience="Projetos Pessoais | Processo Seletivo Analise de Dados"
                        data-projects="Dashboard Bitcoin | Dashboard Vendas | Dashboard Recursos Humanos | Dashboard E-commerce | Data Cleaner Studio | Julyo's Backpack | NBA Draft Analytics | NBA Draft Analytics Pro | Julyo Capitale">
                        <h3>Pandas</h3>
                        <img src="assets/images/png/pandas.png" alt="Pandas">
                    </div>

                    <div class="tech_card" data-title="Google Sheets"
                        data-courses="Coursera: Google Data Analytics"
                        data-experience="Nenhuma experiência profissional específica, mas utilizo o Google Sheets para atividades acadêmicas e profissionais."
                        data-projects="Nenhum projeto específico, mas utilizo o Google Sheets para atividades acadêmicas e profissionais.">
                        <h3>Google Sheets</h3>
                        <img src="assets/images/png/google-sheets.png" alt="Google Sheets">
                    </div>

                    <div class="tech_card" data-title="Google Big Query"
                        data-courses="Coursera: Google Data Analytics"
                        data-experience="Nenhuma experiência profissional específica, mas utilizo o Google Big Query para atividades acadêmicas e profissionais."
                        data-projects="Nenhum projeto específico, mas utilizo o Google Big Query para atividades acadêmicas e profissionais.">
                        <h3> Google Big Query</h3>
                        <img src="assets/images/png/bigquery.png" alt="Big Query">
                    </div>

                </div>
            </div>

            <div class="tech_type_card">
                <h3><i class="fa-solid fa-toolbox"></i> Outros</h3>
                <div class="tech_cards">

                    <div class="tech_card" data-title="Git"
                        data-courses="Youtube: Curso de Git e GitHub para Iniciantes."
                        data-experience="Dia a Dia de Desenvolvimento de Software"
                        data-projects="Todos os projetos do Portfólio">
                        <h3>Git</h3>
                        <img src="assets/images/png/git.png" alt="Git">
                    </div>

                    <div class="tech_card" data-title="Office"
                        data-courses="Udemy: Curso de Excel Completo Basico ao Avançado - Professor: Nelio Alves. | Bradesco Cursos: Curso Completo de Pacote Office (Basico ao Avançado)."
                        data-experience="GSS Segurança | Grupo NewSpace LTDA | SETIDE Osasco"
                        data-projects="Nenhum projeto específico, mas utilizo o pacote Office para atividades acadêmicas e profissionais.">
                        <h3>Office</h3>
                        <img src="assets/images/png/office (1).png" alt="Office">
                    </div>

                    <div class="tech_card" data-title="Suporte Técnico"
                        data-courses="Udemy: Suporte Técnico na Pratica - Professor: Cássio Assis."
                        data-experience="Senai Jandira (Técnico de redes de computadores) | SETIDE Osasco (Estagiário de Suporte Técnico)"
                        data-projects="Nenhum projeto específico, mas atuo com suporte técnico em ambientes corporativos.">
                        <h3>Suporte Técnico</h3>
                        <img src="assets/images/png/suporte_tecnico.png" alt="Suporte-Técnico ">
                    </div>

                </div>
            </div>

        </div>
        </div>
    </section>
