.purple-mode {
    --color-primary: #8800FF;
    --color-bg-gradient: linear-gradient(180deg, #111114, #3a006b, #111114);

    --color-text: #ffffff;

    --color-card-bg: #111114;
    --color-card-bg-rgb: 17, 17, 20;
    --color-card-hover-bg: #8800FF;
    --color-card-hover-text: #ffffff;
    --color-on-primary: #ffffff;

    --color-header-bg: #111114;
    --color-footer-bg: #111114;

    --color-button-bg: #111114;
    --color-button-text: #ffffff;
    --color-button-gradient: linear-gradient(255deg, #3a006b, #8800FF);

    --icon-filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(272deg) brightness(101%) contrast(107%);

    --color-modal-btn-bg: #8800FF;
    --color-modal-btn-text: #ffffff;

    --color-about-border: #8800FF;
}

.purple-mode .dev {
    border-right: 4px solid var(--color-primary);
}
