@keyframes blinkMarker{
    50% {
        border-right-color: transparent;
    }
}
@keyframes typing{
    0%, 100%{
        width: 0;
    }
    40%, 60% {
        width: 17ch;
    }
}

@keyframes scrollApper{
    0%{
        opacity: 0;
        transform:scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotation_9018 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }