.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 2000;
}

.modal.active {
    opacity: 1;
    visibility: visible;
}

.modal_content {
    background: #1e1e1e;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    transform: scale(0.8);
    transition: 0.3s;
}

.modal.active .modal_content {
    transform: scale(1);
}

.close_modal {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}

.modal_btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00bcd4;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}