.tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 50px 0;
}

.tech_type_card {
    background: #151925;
    border: 2px solid #00bcd4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    filter: drop-shadow(0 0 4px rgba(255,255,255,0.2))
            drop-shadow(0 0 8px rgba(255,255,255,0.2));
}
.tech_type_card:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.tech_cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
}

.tech_card {
    background: #151925;
    border: 2px solid #00bcd4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: all 0.3s;
}

.tech_card:hover {
    transform: translateY(-10px);
    background: #00bcd4;
    color: black;
}

.tech_card img {
    width: 50px;
    height: 50px;
    margin: 5px 0;
    object-fit: contain;
    filter: none;
    background-color: transparent;
}